body {
    background-color: lightgray;
}

nav {
    background: teal;
}

nav div {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 90px;
    align-items: center;
    color: white;
    font-family: Arial;
}