body {
    background-color: lightgray;
    height: 150vh;
}

nav {
    background: teal;
}

nav div {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 90px;
    align-items: center;
    color: white;
    font-family: Arial;
}

#main-section {
    display:none;
}

.boxContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
}

.blueBox {
    width: 200px;
    height: 200px;
    background: darkblue;
}

.redBox {
    width: 200px;
    height: 200px;
    background: maroon;
}

.greenBox {
    width: 200px;
    height: 200px;
    background: darkgreen;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.greenBox p {
    font-size: 24px;
    font-family: Arial;
    color: white;
}

.purpleBox {
    width: 200px;
    height: 200px;
    background: purple;
}

.blackBox {
    width: 200px;
    height: 200px;
    background: #222;
}

#button2 {
    margin-top: 100px;
    margin-left: 100px;
}

.tealBox {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: lightseagreen;
    position: absolute;
}